https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
streamlit>=1.53.0
spacy>=3.8.0
scikit-learn>=1.7.0
sentence-transformers>=5.0.0
fpdf2>=2.8.0
pypdf>=6.0.0
matplotlib>=3.10.0
google-genai>=1.0.0
python-dotenv>=1.0.0